*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

!app/build/outputs/apk/debug/*.apk
!app/build/outputs/apk/debug/output-metadata.json
!app/build/outputs/apk/androidTest/debug
